            a {
                display: flex;
                text-decoration: none;
            }
            
            .sub {
                margin-top: 100px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            
            .sub .ver-mais {
                margin-top: 10px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            
            .noticia {
                width: auto;
                height: 170px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 25px;
                filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
            }
            
            .noticia:nth-child(1) {
                margin-top: 25px;
            }
            
            .noticia img {
                width: 200px;
                height: 135px;
                object-fit: cover;
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                transform: translate(100px, 0);
                transition: width 0.5s, height 1s;
            }
            
            .ballonlateral {
                display: flex;
                flex-wrap: wrap;
                width: 560px;
                height: 100%;
                background-color: #fff;
                border-radius: 10px;
                border: 1px solid rgba(27, 114, 133, 0.1);
            }
            
            .ballonlateral h4 {
                font-family: utopiabold, serif;
                color: #073267;
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 5px;
                margin-left: 150px;
                margin-top: 15px;
                padding-left: 12px;
                padding-right: 12px;
            }
            
            .ballonlateral p {
                font-family: latoregular, sans-serif;
                color: #666;
                font-weight: 300;
                font-size: .95rem;
                margin-left: 150px;
                margin-right: 12px;
                padding-left: 12px;
                padding-right: 12px;
            }
            
            .ballonlateral a {
                text-decoration: none !important;
                display: block;
            }
            
            .ballonlateral img {
                margin-left: 8px;
                width: auto;
                height: 25px;
            }
            
            .sub .noticia:hover img {
                width: 250px;
                height: 190px;
            }
            
            .sub .noticia:hover a img {
                width: inherit;
                height: 25px;
            }
            
            .container {
                width: inherit;
                margin-left: 400px;
                margin-bottom: 20px;
            }
            
            .container img {
                width: inherit;
            }
            
            .show-more {
                text-align: center;
                color: #fff;
                width: 200px;
                cursor: pointer;
                align-self: center;
            }
            
            .no-show {
                display: none;
            }
            
            .load-more {
                display: flex;
            }
            
            .no-show .load-more {
                scroll-behavior: smooth
            }
            /* Responsivo */
            
            @media (max-width: 1024px) {
                .sub {
                    display: block;
                    margin-top: 317px;
                }
                .noticia .foto {
                    pointer-events: none;
                }
                .ballonlateral h4 {
                    margin-left: 100px;
                }
                .ballonlateral p {
                    margin-left: 99px;
                }
                .noticia img {
                    transform: translate(40px, 0);
                }
            }
            
            @media (max-width: 910px) {
                .sub {
                    margin-top: 320px;
                    margin-left: -17px;
                }
                .ballonlateral h4 {
                    font-size: 15px;
                    padding-left: 9px;
                    margin-left: 54px;
                    margin-top: 45px;
                }
                .ballonlateral p {
                    margin-left: 50px;
                    padding-bottom: 15px;
                }
            }
            
            @media (max-width: 425px) {
                .sub {
                    margin-top: 60px;
                    margin-left: 50px;
                }
                .noticia {
                    display: block;
                    width: auto;
                    height: auto;
                }
                .noticia img {
                    transform: translate(40px, 35px);
                }
                .noticia a img {
                    margin-left: 8px;
                    width: auto;
                    height: 25px;
                    transform: translate(40px, 0px);
                }
                .ballonlateral {
                    width: 287px;
                }
                .ballonlateral h4 {
                    font-size: 15px;
                    padding-left: 9px;
                    margin-top: 40px;
                }
            }
            
            @media (max-width: 425px) {
                .container {
                    display: none;
                }
            }
            
            @media (max-width: 375px) {
                .sub {
                    margin-top: -40px;
                }
            }
            
            @media (max-width: 320px) {
                .sub {
                    margin-left: 15px;
                }
                .ballonlateral h4 {
                    margin-left: 12px;
                }
                .ballonlateral p {
                    margin-left: 0px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }